.edit_form{
  background-color: #ddd;
  padding:10px;
  height:900px;
  overflow:scroll;
  border: 3px outset #ccc;
}

.drug_substance > div{
    border:2px solid #fff;
    padding:10px;
    margin:10px;
}

.edit_form > div {
  padding: 6px 5px;
  font-size: 110%;
}
